
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
img{
    width: 200px;
    min-width: 50px;  
    padding: 30px;
}

.row{
    display: flex;
    flex-direction: column;
    padding: 1vh;
    
}

.col{
    flex: 1%;
    padding: 1vh;
 
}

.col img{
    margin-top: 1vh;
    
}